body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000000;
}

.box{
	width: 10vw;
	height: 10vw;
	position: absolute;
	left: 0;
	top: 0;
}

.box,.face,.horizontal,.vertical{
	transform-style:preserve-3d;
}

.face{
	width: 10vw;
	height: 10vw;
	box-sizing: border-box;
	padding: 1.5vw;
	background-color: #ffffff;
	border-radius: 40%;
	box-shadow: 0 0 2vw #ccc inset;
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
}

/* 1 */

.face.one{
	justify-content: center;
	align-items: center;
}

/* 2 */

.face.two{
	justify-content: space-around;
}

.face.two .dot:nth-child(2){
	align-self: flex-end;
}

/* 3 */

.face.three{
	justify-content: space-around;
}

.face.three .dot:nth-child(2){
	align-self: center;
}

.face.three .dot:nth-child(3){
	align-self: flex-end;
}
/* 4 */

.face.four{
	flex-direction: column;
	justify-content: space-between;
}

.dot-box{
	display: flex;
}

.face.four .dot-box{
	justify-content: space-between;
}

/* 5 */
.face.five{
	flex-direction: column;
	justify-content: space-between;
}

.face.five .dot-box:nth-child(1),.dot-box:nth-child(3){
	justify-content: space-between;
}

.face.five .dot-box:nth-child(2){
	justify-content: center;
}

/* 6 */

.face.six{
	flex-direction: column;
	justify-content: space-between;
}

.face.six .dot-box{
	justify-content: space-between;
}

/* 面 */
.front{
	transform: translateZ(5vw);
}

.back{
	transform: translateZ(-5vw) rotateX(180deg);
}

.up{
	transform: translateY(-50%) rotateX(90deg);
}

.down{
	transform: translateY(50%) rotateX(-90deg);
}

.left{
	transform: translateX(-50%) rotateY(-90deg);
}

.right{
	transform: translateX(50%) rotateY(90deg);
}

.box{
	transform: rotateX(-45deg) rotateY(45deg);
}

/* 遮罩 */
.react{
	width: 10vw;
	height: 10vw;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #e0e0e0;
}

.react.x{
	transform: rotateY(90deg);
}

.react.y{
	transform: rotateX(90deg);
}

.face::after{
	content:"";
	display: block;
	border-radius: 2vw;
	transform: translateZ(-1px);
	background-color: #e0e0e0;
	position: absolute;
	left: 0;
	top: 0;
	width: 10vw;
	height: 10vw;
}

/* 点 */
.dot{
	width: 2vw;
	height: 2vw;
	display: inline-block;
	background-color: #444;
	border-radius: 50%;
	box-shadow: inset .5vw .5vw 1vw black; 
}

/* 每个面 */
.vertical,.horizontal{
	width: 10vw;
	height: 10vw;
	/* position: absolute;
	left: 45vw;
	top: calc(50vh - 5vw); */
}

.vertical{
	position: absolute;
	left: 45vw;
	top: calc(50vh - 5vw);
}

.horizontal{
	position: absolute;
	left: 0;
	top: 0;
}

.rotateX{
	animation: rotateX 10s infinite linear;
}

@keyframes rotateX{
	from{
		transform: rotateX(0deg);
	}
	to{
		transform: rotateX(360deg);
	}
}

.rotateY{
	animation: rotateY 10s infinite linear;
}

@keyframes rotateY{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}

/* btn */
.btn-text{
	width: 26vw;
	height: 5vw;
	position: absolute;
	right: 0;
	bottom: 13vw;
	background-color: #999999;
	border-radius: 5px;
	border: 2px solid #000000;
	text-align: center;
	line-height: 5vw;
}

.btn{
	width: 26vw;
	height: 10vw;
	background-color: #999999;
	border-radius: 5px;
	border: 2px solid #000000;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 10vw;
}
